html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(24, 24, 24);
    font-family: 'Lato', sans-serif;
}

.buttons {
    height: calc(100% - 130px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 2px;
    padding-left: 4px;   
}

#display {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    margin: 5px;
    padding: 0 10px;
    font-size: 70px;
    font-weight: 500;
    border: 3px solid rgb(12, 20, 54);
    border-radius: 3px;
    background: black;
    box-shadow: 0 0 15px rgba(12, 35, 74, 0.5), 0 0 8px rgba(12, 35, 74, 0.4);
    color: #ebcc1c;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 420px;
    height: 520px;
    border: 6px solid rgb(16, 16, 16);
    border-radius: 5px;
    padding: 5px;
    gap: 2px;
    background-color: rgb(8, 8, 8);
}

button {
    height: calc(20% - 2px);
    width: calc(25% - 4px);
    box-sizing: border-box;
    font-size: 35px;
    font-weight: 500;
    background-color: rgb(80, 85, 90);
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    margin: 1px;
    color: #ebcc1c;
    transition: background-color 0.2s ease;
    
}

button:hover {
    background-color: rgb(70, 75, 80); 
}

button:active {
    background-color: rgb(50, 55, 60); 
    transform: scale(0.98);
}

.operatorPad {
    background-color: rgb(17, 45, 94);
    color: #ebcc1c;
    font-size: 35px;
}

.operatorPad:hover {
    background-color: rgb(12, 35, 84);
}

.operatorPad:active {
    background-color: rgb(9, 25, 54);
}


